[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://${ARTIFACTORY_USERNAME}:${ARTIFACTORY_PASSWORD}@wsdev.jfrog.io/artifactory/api/pypi/sami-python-pypi-local/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "*"
Measurements_sami= "0.5"
[dev-packages]
pytest = "*"
